[submodule "libtorrent/src/github.com/axet/libtorrent"]
	path = libtorrent/src/github.com/axet/libtorrent
	url = https://github.com/axet/libtorrent
[submodule "libtorrent/src/github.com/anacrolix/torrent"]
	path = libtorrent/src/github.com/anacrolix/torrent
	url = https://github.com/axet/torrent
[submodule "libtorrent/src/github.com/RoaringBitmap/roaring"]
	path = libtorrent/src/github.com/RoaringBitmap/roaring
	url = https://github.com/RoaringBitmap/roaring
[submodule "libtorrent/src/github.com/mattn/go-sqlite3"]
	path = libtorrent/src/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "libtorrent/src/github.com/edsrzf/mmap-go"]
	path = libtorrent/src/github.com/edsrzf/mmap-go
	url = https://github.com/edsrzf/mmap-go
[submodule "libtorrent/src/github.com/anacrolix/utp"]
	path = libtorrent/src/github.com/anacrolix/utp
	url = https://github.com/anacrolix/utp
[submodule "libtorrent/src/github.com/anacrolix/sync"]
	path = libtorrent/src/github.com/anacrolix/sync
	url = https://github.com/anacrolix/sync
[submodule "libtorrent/src/github.com/anacrolix/missinggo"]
	path = libtorrent/src/github.com/anacrolix/missinggo
	url = https://github.com/anacrolix/missinggo
[submodule "libtorrent/src/github.com/dustin/go-humanize"]
	path = libtorrent/src/github.com/dustin/go-humanize
	url = https://github.com/dustin/go-humanize
[submodule "libtorrent/src/github.com/syncthing/syncthing"]
	path = libtorrent/src/github.com/syncthing/syncthing
	url = https://github.com/syncthing/syncthing
[submodule "libtorrent/src/github.com/bradfitz/iter"]
	path = libtorrent/src/github.com/bradfitz/iter
	url = https://github.com/bradfitz/iter
[submodule "libtorrent/src/github.com/google/btree"]
	path = libtorrent/src/github.com/google/btree
	url = https://github.com/google/btree
[submodule "libtorrent/src/github.com/ryszard/goskiplist"]
	path = libtorrent/src/github.com/ryszard/goskiplist
	url = https://github.com/ryszard/goskiplist
[submodule "libtorrent/src/github.com/willf/bloom"]
	path = libtorrent/src/github.com/willf/bloom
	url = https://github.com/willf/bloom
[submodule "libtorrent/src/github.com/willf/bitset"]
	path = libtorrent/src/github.com/willf/bitset
	url = https://github.com/willf/bitset
[submodule "libtorrent/src/github.com/tylertreat/BoomFilters"]
	path = libtorrent/src/github.com/tylertreat/BoomFilters
	url = https://github.com/tylertreat/BoomFilters
